@import "../../../assets/sass/variables.scss";

.footer {
  &__container {
    bottom: 0;
    width: 100%;
    padding: 16px 0px;
    text-align: center;
  }
}

p {
  margin: 0;
  color: $primaryText;
  font-size: 18px;
}
