/* header.component.scss */
@import "../../../styles.scss";

@include mobile {
  .header {
    &__container {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 8px;
      padding: 16px;
    }

    &__tabs-container {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      gap: 8px;
      list-style-type: none;
      margin: 0;
      padding: 0;
      border-bottom: 1px solid gray;
      border-top: 1px solid gray;
      width: 95%;
      padding: 8px 0px;
    }

    &__tab {
    }

    &__tab--link {
      text-decoration: none;
      color: $primaryText;
      font-size: larger;
      font-weight: 700;
    }
  }
}
