<div class="card">
  <div class="card-left">
    <img
      src="{{ product.imagen }}"
      class="card-img-top"
      alt="{{ product.nombre }}"
      width="100"
      height="100"
    />
    <div *ngIf="!isInCart">
      <button class="btn btn-primary" (click)="addToCart(product.id)">
        Afegeix
      </button>
    </div>
    <div *ngIf="isInCart">
      <button
        class="btn btn-primary-remove"
        (click)="removeFromCart(product.id)"
      >
        Elimina
      </button>
    </div>
  </div>
  <div class="cart-right">
    <h5 class="card-title">{{ product.nombre }}</h5>
    <p class="card-text">
      <strong>Preu: ${{ product.precio }} per unitat</strong>
      <br />
      <strong *ngIf="!isInCart">Numero en stock: {{ product.stock }}</strong>
    </p>

    <div *ngIf="isInCart">Quantitat: {{ product.quantity }}</div>
    <button class="btn btn-secondary" (click)="viewDetails(product.id)">
      Visualitza els detalls
    </button>
  </div>
</div>
