<div class="card">
  <img
    src="{{ product.imagen }}"
    class="card-img-top"
    alt="{{ product.nombre }}"
  />
  <div class="card-body">
    <h5 class="card-title">{{ product.nombre }}</h5>
    <p class="card-text">{{ product.descripcion }}</p>
    <p class="card-text">
      <strong>Precio: ${{ product.precio }}</strong>
      <br />
      <strong *ngIf="!isInCart">Numero en stock: {{ product.stock }}</strong>
    </p>
    <div *ngIf="!isInCart">
      <button class="btn btn-primary" (click)="addToCart(product.id)">
        Añadir al Carrito
      </button>
    </div>
    <div *ngIf="isInCart">
      <button class="btn btn-primary" (click)="removeFromCart(product.id)">
        Remover del Carrito
      </button>
    </div>
    <button class="btn btn-secondary" (click)="viewDetails(product.id)">
      Ver Detalles
    </button>
    <div *ngIf="isInCart">x{{ product.quantity }}</div>
  </div>
</div>
