<div class="product-card__container">
  <div class="product-card__left">
    <img
      src="{{ product.imagen }}"
      class="product-card__img-top"
      alt="{{ product.nombre }}"
      width="100"
      height="100"
    />
    <div *ngIf="!isInCart">
      <button class="product-card__btn-primary" (click)="addToCart(product.id)">
        Afegeix
      </button>
    </div>
    <div *ngIf="isInCart">
      <button
        class="product-card__btn-primary-remove"
        (click)="removeFromCart(product.id)"
      >
        Elimina
      </button>
    </div>
  </div>
  <div class="product-card__right">
    <h5 class="product-card__title">{{ product.nombre }}</h5>
    <p class="product-card__text">
      <strong>Preu: ${{ product.precio }} per unitat</strong>
      <br />
      <strong *ngIf="!isInCart">Numero en stock: {{ product.stock }}</strong>
    </p>

    <div *ngIf="isInCart">Quantitat: {{ product.quantity }}</div>
    <button
      class="product-card__btn-secondary"
      (click)="viewDetails(product.id)"
    >
      Visualitza els detalls
    </button>
  </div>
</div>
