@import "./../../../styles.scss";

.bottom-navbar {
  position: fixed;
  bottom: 0;
  width: 100%;
  justify-content: space-around;
  background-color: $primaryNavbar;
  &__icon {
    border: 1px solid $blackBackground;
    border-radius: 36px;
    padding: 8px;
    background: $whiteBackground;
    opacity: 0.6;
    transition: opacity 0.3s;
  }
}

.active {
  opacity: 1;
}
