<div class="purchases__container">
  <div class="purchases__title">
    <p>Compres realitzades</p>
  </div>
  <p class="purchases__secondarytTitle" *ngIf="purchasedProducts.length === 0">
    No tens cap producte comprat :(
  </p>
  <div class="purchases__inner" *ngIf="purchasedProducts.length !== 0">
    <ul class="purchases__box">
      <li *ngFor="let product of purchasedProducts">
        {{ product.nombre }} x{{ product.quantity }}
      </li>
    </ul>
  </div>
</div>

<app-bottom-navbar [selectedIndex]="4"></app-bottom-navbar>
