@import "../../../styles.scss";

.purchases {
  &__container {
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    font-family: $primaryFont;
    align-items: center;
    gap: 8px;

    max-height: calc(100vh - 56px);
    overflow: hidden;
    position: relative;
  }

  &__inner {
    max-height: 100%;
    overflow-y: auto;
    padding: 0 16px;
  }

  &__title {
    display: flex;
    justify-content: center;
    background-color: $primaryBoxes;
    border: 1px solid $primaryBoxes;
    width: fit-content;
    padding: 12px;
    font-size: xx-large;
    font-weight: bold;
    color: $whiteBackground;
    margin-top: 8px;
  }

  &__secondarytTitle {
    background-color: $primaryOrange;
    border: 1px solid $primaryOrange;
    width: fit-content;
    padding: 12px;
    font-size: large;
    margin: 0px 10px;
  }

  &__box {
    border: 1px solid $primaryBorder;
    border-radius: 5px;
    margin: 10px;
    padding: 10px;
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $primaryBoxes;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
    color: $whiteBackground;
    font-weight: bold;
    gap: 8px;
  }
}

p {
  margin: 0;
}
