<div class="cart-summary__container" *ngIf="cartItems.length > 0">
  <ul class="cart-summary__box">
    <li *ngFor="let item of cartItems">
      <div>
        <span>{{ item.nom }} x {{ item.quantity }}</span>
      </div>
    </li>
  </ul>
  <p class="cart-summary__box">Total: ${{ getTotal().toFixed(2) }}</p>
  <div class="cart-summary__box">
    <label for="discountCode">Código de Descuento:</label>
    <input
      type="text"
      id="discountCode"
      [(ngModel)]="discountCode"
      name="discountCode"
    />
    <button class="cart-summary__secondaryButton" (click)="applyDiscount()">
      Aplicar Descuento
    </button>
    <p class="success-message" *ngIf="discountAppliedMessage">
      {{ discountAppliedMessage }}
    </p>
    <p class="already-message" *ngIf="alreadyAppliedMessage">
      {{ alreadyAppliedMessage }}
    </p>
    <p class="error-message" *ngIf="showDiscountCodeError">
      Código de descuento no válido
    </p>
    <p class="error-message" *ngIf="showFijo2DiscountError">
      Ya has usado este código 3 veces
    </p>
  </div>

  <p class="cart-summary__box-green">
    Total con Descuento: ${{ calculateTotalWithDiscount().toFixed(2) }}
  </p>
</div>
