<div class="home__container">
  <app-header></app-header>
  <div class="home__title">
    <p>PADEL PARADISE</p>
  </div>
  <div class="home__description">
    <p>
      Welcome to Padel Paradise, your one-stop shop for all your Padel needs.
      We’re passionate about bringing the best Padel products straight to your
      doorstep.
    </p>
  </div>
  <div class="home__image">
    <img src="{{ homeIMG }}" width="250" />
  </div>
  <div class="home__footer">
    <app-footer></app-footer>
  </div>
</div>
