/* You can add global styles to this file, and also import other style files */
html,
body,
app-root {
  //This defines what 1rem is
  height: 100vh;
  scroll-behavior: smooth;
  margin: 0;
  display: grid;
}

@import "./assets/sass/breakpoints.scss";
@import "./assets/sass/mixins.scss";
@import "./assets/sass/variables.scss";
@import "./assets/sass/fonts.scss";
