/* You can add global styles to this file, and also import other style files */
html,
body,
app-root {
  height: 100vh;
  scroll-behavior: smooth;
  margin: 0;
  display: grid;
}

@import "./assets/sass/breakpoints.scss";
@import "./assets/sass/mixins.scss";
@import "./assets/sass/variables.scss";
@import "./assets/sass/fonts.scss";
@import "./assets/sass/shared-styles.scss";

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

body {
  background-image: url("../src/assets/images/padel-background");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
}
