//Colors
$primaryText: #000000;
$primaryNavbar: #e1625e;
$primaryBoxes: #518ca3;
$primaryBorder: #ccc;
$primaryRed: #c2041d;
$primaryBlue: #0d0dfc;
$primaryGreen: #0dfc0d;
$primaryOrange: #fc6603;

$whiteBackground: #ffffff;
$blackBackground: #000000;

//Styles
$primaryFont: "Poppins";
